Options +FollowSymLinks
AddType 'text/html; charset=iso-8859-15' html
RewriteEngine On

# Configuration local
# RewriteBase /pixmodels/

# Configuration reseau
 RewriteBase /test/

RewriteRule ^Pixmodels-Graphiste3d-Webdesigner-freelance.html$ index.php [L]
RewriteRule ^Pixmodels-Contact.html$ Contact.php [L]
RewriteRule ^Pixmodels-Services.html$ Services.php [L]
RewriteRule ^Pixmodels-A-propos.html$ Informations.php [L]


#redirection ancien liens !!!
RewriteRule ^Pixmodels-Graphiste-web-freelance-midi-pyrenees.html$ index.php [L]
RewriteRule ^Pixmodels-Contact-web-freelance-midi-pyrenees.html$ Contact.php [L]
RewriteRule ^Pixmodels-Services-web-graphisme-freelance-midi-pyrenees.html$ Services.php [L]
RewriteRule ^Pixmodels-Apropos-web-graphisme-freelance-midi-pyrenees.html$ Informations.php [L]



RewriteCond %{HTTP_HOST} ^pixmodels.com$
RewriteRule ^(.*) http://www.pixmodels.com$1 [QSA,L,R=301]


<IfModule mod_headers.c>
  <FilesMatch "\.(js|css|xml|gz)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
</IfModule>

<IfModule mod_gzip.c>
    mod_gzip_on Yes
    mod_gzip_item_exclude file \.(gz|zip|xsl)$
    mod_gzip_item_include mime ^text/html$
	mod_gzip_item_include mime ^text/plain$
	mod_gzip_item_include mime ^image/x-icon$
	mod_gzip_item_include mime ^httpd/unix-directory$
	mod_gzip_item_include mime ^text/javascript$
	mod_gzip_item_include mime ^application/javascript$
	mod_gzip_item_include mime ^application/x-javascript$
	mod_gzip_item_include mime ^text/x-js$
	mod_gzip_item_include mime ^text/ecmascript$
	mod_gzip_item_include mime ^application/ecmascript$
	mod_gzip_item_include mime ^text/vbscript$
	mod_gzip_item_include mime ^text/fluffscript$
	mod_gzip_item_include mime ^text/css$
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 7200 seconds"
	ExpiresByType image/jpg 			"access plus 1 week"
	ExpiresByType image/jpeg 			"access plus 1 week"
	ExpiresByType image/png 			"access plus 1 week"
	ExpiresByType image/gif 			"access plus 1 week"
	ExpiresByType image/svg+xml			"access plus 1 week"
	AddType image/x-icon .ico
	ExpiresByType image/ico 			"access plus 1 week"
	ExpiresByType image/icon 			"access plus 1 week"
	ExpiresByType image/x-icon 			"access plus 1 week"
	ExpiresByType text/css 				"access plus 1 week"
	ExpiresByType text/javascript 		"access plus 1 week"
	ExpiresByType text/html 			"access plus 7200 seconds"
	ExpiresByType application/xhtml+xml 	"access plus 7200 seconds"
	ExpiresByType application/javascript 	"access plus 1 week"
	ExpiresByType application/x-javascript 	"access plus 1 week"
	ExpiresByType application/x-shockwave-flash "access plus 1 week"
</IfModule>

