#Informations{padding-bottom:0;background:#ecf0f1;}
#Informations blockquote{color:#999;}
#Informations .descSection{background-color:#f8f8f8;}
#Informations .resume{color:#545454}
#Competences{background:#ecf0f1;margin-bottom:100px;}
#Competences h2{margin:0 auto;text-align:left;font-family: 'Maven Pro', sans-serif;color:#999;letter-spacing:0px;text-transform:none;width:80%;padding-bottom:30px;}
#Competences .listLog{position:static;margin:0 auto;margin-bottom:50px;width:80%;overflow:hidden;color:#545454;}
#Competences .listLog li{position:relative;font-size:1.2em;line-height:40px;height:40px;width:100%;display:inline-block;}
#Competences .listLog .log{position:absolute;top:0;left:0;}
#Competences .listLog canvas{position:absolute;top:0;left:20%;height:50px;width:75%;z-index:10;}
#Competences .listLog .progressBarre{visibility:hidden;}
#Competences h3{font-family:'Roboto', sans-serif;font-weight:300;text-align:center;width:100%;}
#Competences .listComp li{float:left;width:25%;}
#Competences .listComp{width:80%;overflow:hidden;margin:30px auto;}


/* Responsive */
@media screen and (max-width:960px){
	#Competences .listComp li{width:50%;}
	#Competences .listLog .log {position:static;width:100%;}
	#Competences .listLog canvas {left:0;top:20px;}
	#Competences .listLog li{height:60px;}	
	#Informations .descSection img{float:none; margin:0 auto;display:block;margin-bottom:20px;}
}

@media screen and (max-width:660px){	
	#Competences .listComp li{float:none;width:100%;}
}