/* SLIDER */
/* MAIN WRAPPER
--------------------------------------------------------- */
.wrapper { position: relative; margin: 0 auto; width: 1650px; }
.wrapper:after { content: ""; display: block; clear: both; }


/* MAIN HEADER
--------------------------------------------------------- */
#header { background: rgb(61, 86, 110) no-repeat center; height: 250px; position: relative; background-image:url("img/loading.gif"); }
#header { height: 670px; }
#header:after { content: ""; display: block; position: absolute; bottom: 0px; z-index: 100; background: url("img/header-round-white.png") center top; width: 100%; height: 75px; }

#slider { position: absolute; left: 0; bottom: 0; z-index: 100; width: 100%; overflow: hidden;}
#slider ul { margin: 0 auto; list-style: none; width: 100%; height: 670px; }
#slider ul li { display: block; position: relative; left: 0; width: 100% !important; height: 100%; opacity: 0; }
#slider ul li .wrapper { position: relative; height: 100%; }
#slider ul li .slide-image { width: 66%; position: absolute; bottom: 0; z-index: 3; text-align: right; }
#slider ul li .slide-image img { max-width: 100%; position: absolute; bottom: 0; right: 0; }
#slider ul li .slide-text { width: 50%; position: relative; top: 35%; left: 0; text-align: left; z-index: 4; font-size: 1.45em; background: none; }
#slider ul li .slide-text p { position: relative; color: #fff; line-height: 1.6; text-shadow: 0 0 2px rgba(51,51,51,0.5); font-weight:500;}
#slider ul li .slide-text p.big, #slider ul li .slide-text p.extrabig { font-size: 1.5em; padding-bottom: 12px; line-height: 1.3; font-weight: 400; text-transform: uppercase; }
#slider ul li .slide-back { width: 100%; position: absolute; left: 0; top: 0; z-index: 2; }
#slider ul li .slide-back img { width: 100%; min-width: 100%; min-height: 250px; height:100%; }

#slider a.next1, #slider a.prev1 { display: none; width: 5%; height: 540px; position: absolute; top: 0px; z-index: 15; padding: 0; font-size: 5em; font-weight: 300; color: white; cursor: pointer; background: transparent; }
#slider a.next1 { right: 0px; background:  url("img/cursor-next.png") no-repeat center; } 
#slider a.prev1  { left: 0px; background:  url("img/cursor-prev.png") no-repeat center;; }


#circle-pager{
	position:absolute;
	top:90px;
	right:20px;
	height:15px;
	z-index:110;
}

#circle-pager a{
	float:left;
	height:15px;
	width:15px;
	background-image:url("img/sliderSelectEmpty.png");
	text-indent:999%;
	overflow:hidden;
	display:block;
}

#circle-pager a.activeSlide{
	background-image:url("img/sliderSelect.png");
}

/* ISOTOPE TRANSITIONS 
--------------------------------------------------------- */
.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }

.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height;
     -moz-transition-property: height;
      -ms-transition-property: height;
       -o-transition-property: height;
          transition-property: height;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}


/* RESPONSIVNESS
--------------------------------------------------------- */
@media screen and (max-width: 1600px) {
	.wrapper { width: 1150px; }
	#slider ul, #header ,#slider a.next1, #slider a.prev1{ height: 470px; }
	#slider ul li .slide-text { top: 37%; font-size: 1.45em;}
}

@media screen and (max-width: 1280px) {
	.wrapper { width: 1000px; }
	#slider ul, #header ,#slider a.next1, #slider a.prev1{ height: 470px; }
	#slider ul li .slide-text { top: 32%; font-size: 1.25em;}
}

@media screen and (max-width: 1100px) {

	.wrapper { width: 874px; }
	#slider ul, #header ,#slider a.next1, #slider a.prev1{ height: 420px; }
	#slider a.next1, #slider a.prev1{ width: 50px; }
	#slider ul li .slide-text { font-size:1.15em; }
}

@media screen and (max-width: 1018px) {
	.wrapper { width: 816px; }	
	#slider ul, #header, #slider a.next1, #slider a.prev1{ height: 400px; }
	#slider ul li .slide-text { top: 35%; width:60%; }
	#slider .sub-heading-upper { margin-bottom: 12px; }

}

@media screen and (max-width: 950px) {
	.wrapper { width: 768px; }
	#slider ul, #header,#slider a.next1, #slider a.prev1 { height: 350px; }
	#slider ul li .slide-text { top: 28%; width:100%; font-size:1em;}
}

@media screen and (max-width: 905px) {
	.wrapper { width: 578px; }
	#slider ul, #header,#slider a.next1, #slider a.prev1 { height: 300px; }
}

@media screen and (max-width: 680px) {
	.wrapper { width: 400px; margin: 0 auto; padding: 0; }	
	#slider ul li .slide-text { width: 100%; top: 32%; }
	#slider ul, #header,#slider a.next1, #slider a.prev1 { height: 250px; }
	.wrapper { visibility:hidden;}
}

@media screen and (max-width: 460px) {
	#slider ul, #header,#slider a.next1, #slider a.prev1 { height: 93px; }
}

/* MAIN SLIDER */

